td {
    border: 1px solid black;
    color: #2e2e2e;
}

table {
    border-spacing: 15px;
    border-collapse: separate;
}

td:hover {background-color: #eba05e}
.exists {background-color: #94db73}

.normal {background-color: #94db73}
.handicapped {background-color: #495acc}
.entrance {background-color: #a14e48}

.noexists {background-color: #2e2e2e}

td a {
    display:block;
    width:100%;
}