td {
    border: 1px solid black;
    color: #2e2e2e;
    min-height: 60px;
}

td.key {
    min-width: 150px;
    text-align: center;
    filter: brightness(100%) !important;
}

table {
    border-spacing: 8px;
    border-collapse: separate;
}

button:hover {filter: brightness(75%) !important;}

td:hover { filter: brightness(75%);}
.exists {background-color: #94db73}
.normal {background-color: #94db73}
.handicapped {background-color: #495acc; color:white;}
.entrance {background-color: #a14e48; color:white;}

.noexists {background-color: #2e2e2e; color:white;}

tr.key {
    height: 60px;
}

td a {
    display:block;
    width:100%;
}